{% extends 'base.html' %}

{% block title %}The day's Guardian by time{% endblock %}

{% block content %}
<div class="wrapper">
	<header>
	<h1>TickTickTick</h1>

	<p>A little app to help you navigate the Guardian based on how much time you have.</p>

	<h2>How long do you have?</h2>
	
	<div class="button-bar"><button data-min="0" data-max="1">1 min</button><button data-min="1" data-max="2">2 mins</button><button data-min="2" data-max="5">5 mins</button><br><button data-min="5" data-max="10">10 mins</button><button data-min="10" data-max="15">15 mins</button><button data-min="15" data-max="30">30 mins</button><br>
	<button data-min="30">More...</button></div>

	</header>

	<section>
		
		<h3>Read this...</h3>
		<ol id="content-list" data-bind="foreach: content">
			<li><a data-bind="attr: {href: webUrl}, text: webTitle"></a> (<span class="content-list-wordcount" data-bind="text: readingTime"></span>)</li>
		</ol>
	</section>

</div>

<script type="text/coffeescript">
	readContent = (displayContent, min, max) ->
		url = "/api/content/from/#{min}"
		if max
			url = "/api/content/from/#{min}/to/#{max}"

		$.getJSON(url, (data) ->
			displayContent.removeAll()
			displayContent.push item for item in data.content)

	$ ->
		content = ko.observableArray();

		readContent(content, "0", "1")

		ko.applyBindings {"content" : content}

		$('.button-bar button').click () ->
			min = $(this).data("min")
			max = $(this).data("max")

			readContent(content, min, max)

</script>

{% endblock %}
