{% extends 'base.html' %}

{% block title %}The day's Guardian by time{% endblock %}

{% block content %}
<div class="wrapper">
	<header>
	<h1>TickTickTick</h1>

	<p>A little app to help you navigate the Guardian based on how much time you have.</p>

	<h2>How long do you have?</h2>
	
	<div class="button-bar"><button>5 mins</button><button>10 mins</button><button>15 mins</button><br><button>More...</button></div>

	</header>

	<section>
		
		<h3>Read this...</h3>
		<ol id="content-list">
			{% if content %}
			{% for item in content %}
			<li><a href="{{item.webUrl}}">{{item.webTitle}}</a> ({{item.fields.wordcount}})</li>
			{% endfor %}
			{% endif %}
		</ol>
	</section>

</div>

{% endblock %}
